{% extends "base.html" %}

{% block title %}
    {{ post.title }} | {{ site_settings.site_name }}
{% endblock %}

{% block page_content %}

<article class="post-preview">

    <header>
        <h2 class="post-title">
            {{ post.title }}
        </h2>

        <p class="post-meta">
            Posted by
            <span>
                {{ post.author.get_full_name }}
            </span>

            {% if post.published_on %}
                on {{ post.published_on|date:"F j, Y" }}
            {% endif %}
        </p>
    </header>

    <hr class="my-4">

    <div class="post-content">
        {{ post.body|safe }}
    </div>

</article>

{% endblock %}